<ul class="steps is-small">
    <li class="step-item is-completed is-success">
        <a>
            <div class="step-marker">
            </div>
        </a>
        <div class="step-details is-primary is-completed">
            <p class="step-title">1</p>
        </div>
    </li>
    <li class="step-item">
        <a>
          <div class="step-marker"></div>
        </a>
        <div class="step-details is-primary">
            <p class="step-title">2</p>
        </div>
    </li>
    <li class="step-item">
        <a>
        <div class="step-marker"></div>
        </a>
        <div class="step-details is-primary">
            <p class="step-title">3</p>
        </div>
    </li>
</ul>

<div class="box">
  <div class="column">
      <ng-content></ng-content>
  </div>
</div>

<div class="box">
    <div class="column">
        <ng-content></ng-content>
    </div>
</div>

<div class="box">
    <div class="column">
        <ng-content></ng-content>
    </div>
</div>



<hr class="m-2">