
<app-wizard #wizard>

    <app-wizard-page-button [type]="'cancel'">Cancel</app-wizard-page-button>
    <app-wizard-page-button [type]="'previous'">Back</app-wizard-page-button>
    <app-wizard-page-button [type]="'next'">Next</app-wizard-page-button>
    <app-wizard-page-button [type]="'finish'">Finish</app-wizard-page-button>

    <app-wizard-page>
        <ng-template appWizardPageNavTitle>Step 1</ng-template>
        <p class="content-for-page-1">Content for step 1</p>
    </app-wizard-page>

    <app-wizard-page>
        <ng-template appWizardPageNavTitle>Step 2</ng-template>
        <p class="content-for-page-3">Content for step 2</p>
   </app-wizard-page>

   <app-wizard-page>
        <ng-template appWizardPageNavTitle>Step 3</ng-template>
        <p class="content-for-page-2">Content for step 3</p>
    </app-wizard-page>
</app-wizard>